<header id="header" class="header-scrolled">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html">Placement Management</a></h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#about">ABOUT</a></li>
                <li><a class="nav-link scrollto" href="#services">SERVICES</a></li>
                <li><a class="nav-link scrollto" href="#testimonials">TESTIMONIALS</a></li>
                <li><a class="nav-link scrollto" href="#pricing">PRICING</a></li>
                <li><a class="nav-link scrollto" href="#stats">STATS</a></li>
                <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->