{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    Placement Management - Login
{% endblock %}

{% block content %}

<body>
    {% include 'partials/header.html' %}

    <main data-spy="scroll" data-target="#navbar" data-offset="0">
        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="contact-left">

                        <h3>vesco</h3>
                        <p>We believe in <strong>Simple</strong>, <strong>Clean</strong> &
                            <strong>Modern</strong>Modern Design Standards with Responsive Approach. Browse the
                            amazing work of our company.</p>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="contact-right">

                        <h3>Contact Us</h3>

                        <form action="#">

                            <input type="text" name="full-name" placeholder="Full Name" class="form-control">
                            <input type="text" name="email" placeholder="Email Address" class="form-control">
                            <textarea name="message" id="" rows="5" placeholder="Message..."
                                class="form-control"></textarea>

                            <div class="send-btn">
                                <a class="btn btn-lg btn-general btn-white" role="button" href="#">SEND</a>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}
</body>

{% endblock %}