{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    Placement Management - Home
{% endblock %}

{% block content %}

<body>
    {% include 'partials/header.html' %}

    <main data-spy="scroll" data-target="#navbar" data-offset="0">
        <!--***************************-->
        <!-- Home Section -->
        <!-- **************************-->
        <section id="home">

            <div id="home-cover" class="bg-parallax">

                <div id="home-content-box">

                    <div id="home-content-box-inner">

                        <div id="home-heading" class="animated zoomIn">
                            <h3>watch out<br>the modern responsive website!</h3>
                        </div>

                        <div id="home-btn" class="animated zoomIn">
                            <a class="btn btn-lg btn-general btn-white smooth-scroll" href="#work" role="button"
                                title="view our work">view our work</a>
                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!--***************************-->
        <!-- Services Section -->
        <!-- **************************-->
        <section id="services">

            <div id="content-box" data-aos="fade-up" data-aos-anchor-placement="top-center">

                <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <h3>Services</h3>
                    <div class="content-title-underline"></div>
                </div>

                <div class="container">

                    <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">



                        <div class="col-sm-6 col-md-4">

                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-alarm"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>web design</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-app"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>Desktop App</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-apple"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>Mobile App</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-search"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>SEO Optimization</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-bag"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>UI/UX Design</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="service-item">

                                <div class="d-flex justify-content-around">
                                    <div class="service-item-icon">
                                        <i class="bi bi-box fa-3x"></i>
                                    </div>
                                    <div class="service-item-title">
                                        <h3>Support</h3>
                                    </div>
                                </div>
                                <div class="service-item-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, consequatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <!--***************************-->
        <!-- About Section -->
        <!-- **************************-->
        <section id="about">

            <!-- About right side with diagonal BG parallax -->
            <div id="about-bg-diagonal" class="bg-parallax"></div>

            <!-- About left side content -->
            <div class="container" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">

                <div class="row">

                    <div class="col-md-8">

                        <div id="about-content-box">

                            <div id="about-content-box-outer">

                                <div id="about-content-box-inner">

                                    <div class="content-title wow fadeInDown" data-wow-duration="1s"
                                        data-wow-delay=".5s">
                                        <h3>About Vesco</h3>
                                        <div class="content-title-underline"></div>
                                    </div>

                                    <div id="about-desc" class="wow fadeInDown" data-wow-duration="1s"
                                        data-wow-delay=".5s">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam et
                                            suscipit, accusantium nihil excepturi obcaecati nostrum incidunt est
                                            laboriosam odio. Provident assumenda dicta suscipit eaque esse, dolore, quis
                                            expedita! Vel deleniti provident numquam in, ipsa maiores recusandae
                                            deserunt debitis quae!</p>
                                    </div>

                                    <div id="about-btn" class="wow fadeInUp" data-wow-duration="1s"
                                        data-wow-delay=".5s">
                                        <a class="btn btn-lg btn-general btn-blue smooth-scroll" href="#work"
                                            role="button">Our work</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!--***************************-->
        <!-- Testimonial Section -->
        <!-- **************************-->
        <section id="testimonials">
            <div id="testimonial-cover" class="bg-parallax">

                <div class="content-box" data-aos="fade-left" data-aos-offset="300">

                    <div class="content-title content-title-white wow fadeInDown" data-wow-duration="1s"
                        data-wow-delay=".5s">
                        <h3>WHAT OUR CUSTOMERS DO NOT SAY</h3>
                        <div class="content-title-underline"></div>
                    </div>


                    <div class="container">

                        <div class="row wow bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="col-md-12 swiper">

                                <div id="customers-testimonials" class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img class="img-responsive img-circle" src="img/client/client-1.jpg"
                                            alt="testimonial">
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel in quas
                                                sit, doloribus, recusandae rerum adipisci voluptate provident quis.
                                                rerum adipisci voluptate provident quis. Quaerat.</p>
                                        </blockquote>
                                        <div class="testimonial-author">
                                            <p><strong>Daniel Watrous</strong>
                                                <span>CEO & Founder of Toggle</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <img class="img-responsive img-circle" src="img/client/client-2.jpg"
                                            alt="testimonial">
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel in quas
                                                sit, doloribus, recusandae rerum adipisci voluptate provident quis.
                                                Quaerat.</p>
                                        </blockquote>
                                        <div class="testimonial-author">
                                            <p><strong>Mike Charlie</strong>
                                                <span>CEO & Founder of Quitter</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <img class="img-responsive img-circle" src="img/client/client-3.jpg"
                                            alt="testimonial">
                                        <blockquote>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel in quas
                                                sit, doloribus, recusandae rerum adipisci voluptate provident quis.
                                                Quaerat.</p>
                                        </blockquote>
                                        <div class="testimonial-author">
                                            <p><strong>Sara Smith</strong>
                                                <span>Founder of Gameazon</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <!--***************************-->
        <!-- Price Section -->
        <!-- **************************-->
        <section id="pricing">

            <div class="content-box">

                <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <h3>our pricing</h3>
                    <div class="content-title-underline"></div>
                </div>


                <div class="container">

                    <div class="row">

                        <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="pricing-box text-center">

                                <h4 class="pricing-title">Basic</h4>
                                <h3 class="pricing-value">49<sup>$</sup></h3>
                                <ul class="pricing-specification">
                                    <li>
                                        <p>500 EMAILS</p>
                                    </li>
                                    <li>
                                        <p>5GB DISK SPACE</p>
                                    </li>
                                    <li>
                                        <p>5GB BANDWIDTH</p>
                                    </li>
                                    <li>
                                        <p>UNLIMITED DOMAINS</p>
                                    </li>
                                </ul>
                                <div class="pricing-btn">
                                    <a class="btn btn-lg btn-general btn-blue" href="#" role="button">purchase</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay=".4s">

                            <div class="pricing-box text-center blue-box">

                                <h4 class="pricing-title">ENTERPRISE</h4>
                                <h3 class="pricing-value">89<sup>$</sup></h3>
                                <ul class="pricing-specification">
                                    <li>
                                        <p>2000 EMAILS</p>
                                    </li>
                                    <li>
                                        <p>25GB DISK SPACE</p>
                                    </li>
                                    <li>
                                        <p>25GB BANDWIDTH</p>
                                    </li>
                                    <li>
                                        <p>UNLIMITED DOMAINS</p>
                                    </li>
                                </ul>
                                <div class="pricing-btn">
                                    <a class="btn btn-lg btn-general btn-white" href="#" role="button">purchase</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="pricing-box text-center">

                                <h4 class="pricing-title">STANDARD</h4>
                                <h3 class="pricing-value">69<sup>$</sup></h3>
                                <ul class="pricing-specification">
                                    <li>
                                        <p>1500 EMAILS</p>
                                    </li>
                                    <li>
                                        <p>15GB DISK SPACE</p>
                                    </li>
                                    <li>
                                        <p>15GB BANDWIDTH</p>
                                    </li>
                                    <li>
                                        <p>UNLIMITED DOMAINS</p>
                                    </li>
                                </ul>
                                <div class="pricing-btn">
                                    <a class="btn btn-lg btn-general btn-blue" href="#" role="button">purchase</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </section>

        <!--***************************-->
        <!-- Price Section -->
        <!-- **************************-->
        <section id="stats">

            <div id="stats-cover" class="bg-parallax">

                <div class="content-box">

                    <div class="content-title content-title-white wow fadeInDown" data-wow-duration="1s"
                        data-wow-delay=".5s">
                        <h3>WE NEVER STOP IMPROVING</h3>
                        <div class="content-title-underline"></div>
                    </div>

                    <div class="container">

                        <div class="row text-center wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">

                            <div class="col-sm-6 col-md-3">

                                <div class="stats-item">
                                    <i class="bi bi-cloud-download fa-5x"></i>
                                    <h2><span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="1" class="purecounter">1500</span><span>+</span></h2>
                                    <p>Downloads</p>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">

                                <div class="stats-item">
                                    <i class="bi bi-star"></i>
                                    <h2><span data-purecounter-start="0" data-purecounter-end="3500" data-purecounter-duration="1" class="purecounter">3500</span><span>+</span></h2>
                                    <p>AWARDS</p>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">

                                <div class="stats-item">
                                    <i class="bi bi-box"></i>
                                    <h2><span data-purecounter-start="0" data-purecounter-end="1199" data-purecounter-duration="1" class="purecounter">1199</span><span>+</span></h2>
                                    <p>likes</p>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-3">

                                <div class="stats-item">
                                    <i class="bi bi-alarm"></i>
                                    <h2><span data-purecounter-start="0" data-purecounter-end="2200" data-purecounter-duration="1" class="purecounter">2200</span><span>+</span></h2>
                                    <p>Recommended</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section>

    </main>

    {% include 'partials/footer.html' %}
</body>

{% endblock %}