{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
    Placement Management - Home
{% endblock %}

{% block content %}

<body>

    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="https://bulma.io/images/bulma-logo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a>Home</a></li>
                                    <li><a href="">Examples</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Placement Management API
                        </h1>
                        <h2 class="subtitle is-4">
                            This is a sample template in Bulma which can be used to extend this app with Jinja templates. Right now, it only
                            serves as an API and expects front-end to be written in React, Angular or Vue.
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a href="{% url 'swagger-ui' %}"  class="button is-medium is-info is-outlined">
                                API docs
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </section>
</body>

{% endblock %}